@font-face {
    font-family: 'MXFont'; 
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/l/font?kit=0QIjMXFD9oygTWy_R_tLtfOm847A2C5o88k0_br-svTYJGN5whomDs1uyA&skey=fb52792da5c33628&v=v11) format('woff2');
  }